html {
    height: 100%;
}

body {
    background-color: wheat;
    background-image: url(images/wp5206186.png);
    background-size: cover;
    background-repeat: no-repeat;

}



.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}


header  {
    
    height: 118px;
    text-align: center;

}

nav {
    background-color: rgba(250, 128, 114, 0.459);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    

}


main {
    
    height: 400px;
    margin-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: rgba(250, 128, 114, 0.61);
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 84px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    
p {
    font-size: 18px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

a {
    color: black;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: initial;

}

nav a {
    text-decoration: none;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-right: 10px;


}

footer p {
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.644);
}

.maps {
    padding-bottom: 100px;
}